<link rel="stylesheet" href="Footer.css">

<div style="margin: 8rem 0;">
    <div class="footer-body d-flex justify-content-between">
        <div>
            <h3 class="footer-logo">Jadoo.</h3>
            <h3 class="booking">Book your trip in minute, get full</h3>
            <h3 class="booking">Control for much longer.</h3>
        </div>
        <div>
            <h3 class="company">Company</h3>
            <p class="content">About</p>
            <p class="content">Careers</p>
            <p class="content">Mobile</p>
        </div>
        <div>
            <h3 class="contact">Contact</h3>
            <p class="content">Help/FAQ</p>
            <p class="content">Press</p>
            <p class="content">Affilates</p>
        </div>
        <div>
            <h3 class="more">More</h3>
            <p class="content">Airlinefees</p>
            <p class="content">Airline</p>
            <p class="content">Low fare tips</p>
        </div>
    </div>
</div>
<p class="text-center">All rights reserved@jadoo.co</p>


@code {

}
