<div>
    <h3 style="color: var(--TEXT-CLR, #5E6282);font-family: Poppins;font-size: 1.125rem;">Easy and Fast</h3>
    <div class="d-flex justify-content-between">
        <div>
            <div style="color: var(--3rd, #14183E);font-family: Volkhov;font-size: 3.125rem;font-weight: 700;">
                <p>Book your next trip </p>
                <p>in 3 easy steps</p>
            </div>
            <Steps ImageSource="images/choosedestination.svg" Title="Choose Destination"
                Text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, tortor tempus. " />
            <Steps ImageSource="images/makepayment.svg" Title="Make Payment"
                Text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, tortor tempus. " />
            <Steps ImageSource="images/transportation.svg" Title="Reach Airport on Selected Date"
                Text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, tortor tempus. " />
        </div>
        <div class="mt-5">
            <TripCard />
        </div>
    </div>
</div>

@code {

}
