<div style="margin: 8rem 0;" class="user-select-none">
    <div class="text-center">
        <p style="color: #5E6282; font-size: 1.125rem; font-weight:600;" class="category">CATEGORY</p>
        <p style="color: #14183E; font-size: 3.125rem;" class="fw-bold offer">We Offer Best Services</p>
    </div>
    <div class="d-flex justify-content-between my-5">
        <Card ImageSource="images/satallite.svg" Title="Calculated Weather"
            Text="Built Wicket longer admire do barton vanity itself do in it." />
        <Card ImageSource="images/airplane.svg" Title="Best Flights"
            Text="Engrossed listening. Park gate sell they west hard for the." />
        <Card ImageSource="images/microphone.svg" Title="Calculated Weather"
            Text="Barton vanity itself do in it. Preferd to men it engrossed listening." />
        <Card ImageSource="images/customization.svg" Title="Customization"
            Text="We deliver outsourced aviation services for military customers" />
    </div>
</div>
<div style="background-color:#DF6951;border-radius: 1.125rem 0.3125rem 0.625rem 0.3125rem; width: 6.25rem;height:6.25rem;"
    class="rectangle">
</div>
<div style="background-color: #FFF1DA; width: 3.125rem;height: 3.0625rem; border-radius: 0 1.125rem 0 1.125rem; margin:-430px 0 0 790px;z-index: 999;"
    class="position-absolute">
</div>

@code {

}
