<div>
    <div>
        <p style="color: #DF6951;" class="fw-bold banner-writing">Best Destinations around the world</p>
        <p class="travel">Travel, enjoy</p>
        <p class="live">and live a new</p>
        <p class="life">and full life</p>
        <p>Built Wicket longer admire do barton vanity itself do in it. 
            Preferred to sportsmen it engrossed listening. 
            Park gate sell they west hard for the.
        </p>
        <div class="bottom-banner">
            <Button ButtonText="Find out more"
                ButtonClass="text-center my-auto py-3 rounded" 
                ButtonStyle="color:white; background-color:#F1A501; width: 10.625rem;"
            />
            <div>
                <img src="@playButtonSource" alt="Play Button Image" />
                <span>Play Demo</span>
            </div>
        </div>
    </div>
    <div>
        <img src="@bannerSource" alt="Hero Banner Image" />
    </div>
</div>

@code {
    private string bannerSource = "images/heroimage.png";
    private string playButtonSource = "images/playbutton.svg";
}
