<div class="d-flex mt-4">
    <div class="w-75" style="margin-top: 6rem;">
        <div style="line-height: 3.5rem;">
            <p style="color: #DF6951;" class="fw-bold banner-writing fs-5">Best Destinations around the world</p>
            <p class="travel fw-bold" style="color:#181E4B; font-size: 4rem;">Travel, enjoy</p>
            <p class="live fw-bold" style="color:#181E4B; font-size: 4rem;">and live a new</p>
            <p class="life fw-bold" style="color:#181E4B; font-size: 4rem;">and full life</p>
        </div>
        <p style="color:#5E6282; font-size:1rem; width:24rem;">
            Built Wicket longer admire do barton vanity itself do in it.
            Preferred to sportsmen it engrossed listening.
            Park gate sell they west hard for the.
        </p>
        <div class="bottom-banner d-flex w-75 align-items-center">
            <Button ButtonText="Find out more" ButtonClass="text-center my-auto py-3 rounded"
                ButtonStyle="color:white; background-color:#F1A501; width: 10.625rem; cursor:pointer;" />
            <div class="d-flex align-items-center ms-5">
                <img src="@playButtonSource" alt="Play Button Image" style="height: 4rem; cursor:pointer;" />
                <span style="cursor: pointer;" class="ms-3">Play Demo</span>
            </div>
        </div>
    </div>
    <div style="z-index: 1000;">
        <img src="@bannerSource" alt="Hero Banner Image" style="width: 37rem; height:37rem;" />
    </div>
</div>

@code {
    private string bannerSource = "images/heroimage.png";
    private string playButtonSource = "images/playbutton.svg";
}
