<link rel="stylesheet" href="css/newsletter.css">
<div style="margin: 8rem 0;" class="position-relative">
    <img src="@Telegram" alt="telegram logo" style="float: right; margin-left: -40px; margin-top:-25px ;" />
    <div class="newsletter-body clearfix">
        <div class="newsletter">
            <div class="subscribe-text">
                <p>Subscribe to get information, latest news and other</p>
                <p>interesting offers about Cobham</p>
            </div>
            <div class="d-flex justify-content-center">
                <input type="text" placeholder="Your email" class="w-50 ps-4 border rounded" />
                <Button ButtonText="Subscribe" ButtonClass="text-center my-auto py-3 rounded ms-3 newsletter-button" />
            </div>
        </div>
    </div>
</div>

@code {
    private string Telegram = "images/telegram.svg";
}
