<div>
    <img src="@ImageSource" alt="sponsors logo" class="sponsor-image" style="width: 10rem;height: 5.375rem; " />
</div>

@code {
    [Parameter]
    public string ImageSource { get; set; } = string.Empty;
}
