<div class="d-flex align-items-center justify-content-between" style="margin: 8rem 0;">
    <Sponsor ImageSource="images/axon.svg" />
    <Sponsor ImageSource="images/jetstar.svg" />
    <Sponsor ImageSource="images/expedia.svg" />
    <Sponsor ImageSource="images/qantas.svg" />
    <Sponsor ImageSource="images/alitalia.svg" />
</div>