<div class="d-flex justify-content-between" style="margin: 8rem 0;">
    <div>
        <h3
            style="color: var(--TEXT-CLR, #5E6282);font-family: Poppins;font-size: 1.125rem;text-transform: uppercase; ">
            Testimonials</h3>
        <h3
            style="color: var(--3rd, #14183E); font-family: Volkhov; font-size: 3.125rem;font-style: normal;font-weight: 700;">
            What people say</h3>
        <h3
            style="color: var(--3rd, #14183E); font-family: Volkhov; font-size: 3.125rem;font-style: normal;font-weight: 700;">
            about Us.</h3>
    </div>
    <div>
        <img src="@TestimonialImage" alt="man display picture"
            style="width: 4.25rem;height: 4.25rem;border-radius: 50%; margin-left: -20px; margin-bottom:-20px;" />
        <div style="width: 31.5rem;height: 17rem;border-radius: 0.625rem; background: var(--white, #FFF);
            box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02); 
            color: var(--TEXT-CLR, #5E6282);font-family: Poppins;">
            <p
                style="width: 25.125rem; font-size: 1rem;font-weight: 400;line-height: 2rem; padding-left:50px; padding-top: 25px;">
                “On the Windows talking painted pasture yet its express parties use. Sure last upon he same as knew
                next. Of believed or diverted no.”
            </p>
            <h6 style="font-size: 1.125rem;font-weight: 600; padding-left: 50px; padding-top: 20px;">
                Mike taylor
            </h6>
            <h6 style="padding-left: 50px; padding-bottom: 20px;">
                Lahore, Pakistan
            </h6>
        </div>
    </div>
</div>

@code {
    private string TestimonialImage = "images/testimonial.png";
}
