@page "/"

<PageTitle>Home</PageTitle>

<div style="position: absolute; right:0; top: 0;">
    <img src="@imageSource" alt="Decore image" style="width:42rem; height:42rem">
</div>
<HeroBanner />
<Category />

@code {
    private string imageSource = "/images/decore.png";
}
